@import "../../../style";

.mold {
  margin-right: 0 !important;
  float: right
}

.input {
  width: 160px !important;
}

.link-blue {
  color: @fc-27;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    color: @fc-29;
  }
}

.link-red {
  color: @fc-30;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    color: @fc-31;
  }
}

.image-uploader {
  width: 90px;
  height: 90px;
  border: 1px dashed var(--el-border-color);
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.image-uploader-icon {
  text-align: center;
  width: 90px;
  height: 90px;
  color: #8c939d;
  font-size: 28px;
}

.image {
  width: 90px;
  height: 90px;
}

.tag-row {
  width: 100%;

  .tag-input {
    width: 50%;
  }
}

.item-row {
  width: 100%;
  margin-bottom: 18px;
}

.message-content {
  display: flex;

  .icon {
    margin-top: 3px;
    color: @bgc-17;
  }

  p {
    line-height: 1.7;
    margin: 0 10px 5px 10px;
  }

}

.document-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  .uploadBtn {

  }
}